/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: sandybrown;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: inherit;
}


#nav {
    list-style-type: none;
}

/*body {
    
}
*/
main {
    flex: 1 0 auto;

}

#egypt-intro {
    width:100%;
    height: 500px;
    background-color: palegreen;

}

#egypt-pyramids{
    width:100%;
    height: 500px;
    background-color: palegoldenrod;
}

#egypt-hieroglyphics {
    width:100%;
    height: 500px;
    background-color: paleturquoise;
}

#egypt-newsletter {
    width:100%;
    height: 500px;
    background-color: palevioletred;
}

#social-networks {
    width: 100%;
    background-color: sandybrown;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks a {
    color: inherit;
    text-decoration: none;
}