#egypt-intro {
    width:100%;
    height: 100px;
    background-color: palegreen;

}

#egypt-info {
    width:100%;
    height: 100px;
    background-color: palegoldenrod;
}

#egypt-newsletter {
    width:100%;
    height: 100px;
    background-color: palevioletred;
}